* {
  box-sizing: border-box;
  padding:    0;
  margin:     0;
}

:root {
  --bc-primary:   hsl(0, 0%, 10%);
  --bc-secondary: hsl(100, 100%, 100%);

  --fc-primary:   hsl(100, 100%, 100%);
  --fc-secondary: hsl(0, 0%, 10%);

  --ff-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --ff-secondary: 'Courier New';
  
  --fs-primary: 1rem;
  
  --padding: .5rem;
  --margin: .5rem 0 0;
}

::selection {
  background-color: var(--fc-primary);
  color: var(--bc-primary);
}

body {
  padding: 0 .5rem;
  
  background-color: var(--bc-primary);
  color: var(--fc-primary);
}